/** 
 * Primary Drupal Styles
 * Author: g-u-i.net
 */
/*
 * www.g-u-i.net
 */
.consolas {
  font-family: "consolas", "inconsolata", Arial, "MS Trebuchet", sans-serif;
}
body {
  font-family: "consolas", "inconsolata", Arial, "MS Trebuchet", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
a {
  color: #007BC2;
  text-decoration: none;
}
input {
  font-family: "consolas", "inconsolata", Arial, "MS Trebuchet", sans-serif;
  font-size: 0.8em;
}
#debug-grid {
  border: 1px solid #000;
  z-index: 9999999;
}
#debug-grid,
#debug-grid * {
  position: absolute;
}
#debug-grid .cells {
  border: 1px solid #444444;
}
#debug-grid .lines {
  border: 1px dashed #717171;
}
li,
.item-list ul li {
  list-style: none inside url();
  margin-left: 0;
}
/** Messages. */
div.messages {
  padding: 9px;
  margin: 0.5em 0 0;
  color: #036;
  background: #bdf;
  border: 1px solid #ace;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5;
}
div.error {
  color: #fff;
  background: #e63;
  border-color: #d52;
}
div.error p.error {
  color: #333;
}
div.status {
  color: #360;
  background: #cf8;
  border-color: #be7;
}
/** Tab navigation */
ul.primary,
.views-admin-links ul {
  font: 13px/1.231 sans-serif;
  *font-size: small;
  border-collapse: collapse;
  padding: 0 0 0 1em;
  /* LTR */
  white-space: nowrap;
  list-style: none;
  margin: 5px;
  height: auto;
  line-height: normal;
  border-bottom: 1px solid #bbb;
}
ul.primary li,
.views-admin-links li {
  display: inline;
}
ul.primary li a,
.views-admin-links li a {
  background-color: #ddd;
  border-color: #bbb;
  border-width: 1px;
  border-style: solid solid none solid;
  height: auto;
  margin-right: 0.5em;
  /* LTR */
  padding: 0 1em;
  text-decoration: none;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
ul.primary li.active a {
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom: #fff 1px solid;
}
ul.primary li a:hover,
.views-admin-links li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee;
}
ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  display: inline;
  padding: 0 1em;
  border-right: 1px solid #ccc;
  /* LTR */
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: 4px solid #999;
}
/** Form */
#node-form .form-region-main {
  border-right: 1px solid #BFBFBF;
  padding-right: 10px;
  width: 68%;
}
#node-form .form-region-main label {
  float: left;
  min-width: 25%;
}
#node-form .form-region-main input.form-text {
  width: 40%;
}
#node-form .form-region-right {
  padding-left: 5px;
}
#node-form .form-region-right label {
  float: left;
  min-width: 35%;
}
#node-form .form-region-right input.form-text {
  width: 60%;
}
#node-form .form-region-main label.option,
#node-form .form-region-right label.option {
  float: none;
}
form:not( #views-ui-config-item-form ) .form-item {
  position: relative;
  /*    padding:9px;*/
}
form:not( #views-ui-config-item-form ) .form-item .description {
  position: absolute;
  bottom: 140%;
  /*    right:-15px;*/
  z-index: 5;
  left: 50%;
  color: #1A1A1A;
  line-height: 1.1;
  background: url(../images/popup.png) 50% 100% no-repeat;
  width: 240px;
  margin: 0px 0px -15px;
  padding: 9px 10px 20px;
  display: none;
  border-top: 1px solid #9F9F9F;
}
form:not(  #views-ui-config-item-form ) .form-item:hover {
  z-index: 1;
  height: auto;
  /* Fix for flicker in IE7 */
}
form:not(  #views-ui-config-item-form ) .form-item:hover > .description {
  display: block;
}
fieldset {
  border: 1px solid #D4D4D4;
  padding: 10px;
  margin-bottom: 1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
fieldset legend {
  font-size: 1.6em;
}
input.form-text {
  max-width: 95%;
}
/** TABLE */
table {
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
table thead th {
  background-color: #CCC;
  padding: 0.5em 1em;
  text-align: left;
}
table tbody tr.even,
table tbody tr.odd {
  border-bottom: 0 solid #CCCCCC;
  padding: 0.1em 0.6em;
}
table tbody tr.even {
  background-color: #EEE;
}
table tbody tr.odd {
  background-color: #E5E5E5;
}
table tbody td {
  padding: 0.5em 1em;
  text-align: left;
}
td.active {
  background-color: transparent;
}
/* sidebars */
body:not(.no-sidebars) #center,
#sidebar-first,
#sidebar-second,
.footer-block .region,
.header-block {
  display: inline-block;
  vertical-align: top;
}
body.two-sidebars #center {
  width: 54%;
}
body.sidebar-first #center {
  width: 73%;
}
body.sidebar-second #center {
  width: 80%;
}
body.no-sidebars #center {
  width: 100%;
}
#sidebar-first {
  width: 24%;
}
#sidebar-second {
  width: 18%;
}
/* general */
html {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#header {
  position: fixed: top:0;
  left: 0;
  text-align: center;
}
.js .front #header {
  display: none;
}
#main,
#main > #center {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.js .front #main #content {
  display: none;
}
#stream-wrapper {
  cursor: none;
}
#stream-wrapper > * {
  margin: 0;
  padding: 0;
  color: #a31705;
}
#stream-wrapper .placed {
  position: absolute;
}
#stream-wrapper #site-name {
  width: 340px;
  height: 62.25px;
  background-color: #a31705;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 2.4;
}
#stream-wrapper #site-name.not-anime {
  visibility: visible;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all 0s linear;
}
#stream-wrapper #site-name.pre-anime {
  color: #a31705;
}
#stream-wrapper #site-name.anime {
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  color: #FFF;
}
#stream-wrapper #site-name.post-anime {
  -webkit-transition: all 10s linear;
  -moz-transition: all 10s linear;
  -o-transition: all 10s linear;
  transition: all 10s linear;
  background-color: #d8d8d8;
  opacity: 0.9;
}
#stream-wrapper .thema > * {
  margin: 0;
  padding: 0;
  color: #fff;
  overflow: hidden;
}
#stream-wrapper .thema h2.thema-title {
  width: 680px;
  height: 498px;
  background-color: #a31705;
  color: #fff;
  display: table;
}
#stream-wrapper .thema h2.thema-title span.txt {
  display: moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  display: table-cell;
  vertical-align: middle;
  padding: 1em;
}
#stream-wrapper .thema h2.thema-title.pre-anime span.txt {
  -webkit-transition: opacity 0 linear;
  -moz-transition: opacity 0 linear;
  -o-transition: opacity 0 linear;
  transition: opacity 0 linear;
  visibility: hidden;
  opacity: 0;
}
#stream-wrapper .thema h2.thema-title.anime span.txt {
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
  visibility: visible;
  opacity: 1;
}
#stream-wrapper .thema h2.thema-title.post-anime {
  -webkit-transition: all 10s linear;
  -moz-transition: all 10s linear;
  -o-transition: all 10s linear;
  transition: all 10s linear;
  background-color: #d8d8d8;
  opacity: 0.9;
}
#stream-wrapper .thema .content {
  width: cell_w;
  display: moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  height: auto;
  background-color: #fff;
  color: #a31705;
}
#stream-wrapper .thema .content.pre-anime {
  background-color: #a31705;
}
#stream-wrapper .thema .content.pre-anime > * {
  -webkit-transition: all 0 linear;
  -moz-transition: all 0 linear;
  -o-transition: all 0 linear;
  transition: all 0 linear;
  visibility: hidden;
  opacity: 0;
}
#stream-wrapper .thema .content.anime {
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -o-transition: all 2s linear;
  transition: all 2s linear;
  background-color: #fff;
}
#stream-wrapper .thema .content.anime > * {
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -o-transition: all 2s linear;
  transition: all 2s linear;
  visibility: visible;
  opacity: 1;
}
#stream-wrapper .thema .content.post-anime {
  -webkit-transition: all 5s linear;
  -moz-transition: all 5s linear;
  -o-transition: all 5s linear;
  transition: all 5s linear;
  background-color: #d8d8d8;
  opacity: 0.9;
}
#stream-wrapper .thema .content.post-anime > * {
  -webkit-transition: all 5s linear;
  -moz-transition: all 5s linear;
  -o-transition: all 5s linear;
  transition: all 5s linear;
  opacity: 0;
}
#stream-wrapper .thema .voisin.audio {
  height: 0;
}
#stream-wrapper .thema .voisin.video {
  width: 680px;
  height: 498px;
  background-color: #a31705;
}
#stream-wrapper .thema .voisin.video.pre-anime .field-name-field-video {
  opacity: 0;
}
#stream-wrapper .thema .voisin.video.anime .field-name-field-video {
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
  opacity: 1;
}
#stream-wrapper .thema .voisin.video.post-anime {
  background-color: #d8d8d8;
  opacity: 0.9;
}
#stream-wrapper .thema .voisin.video.post-anime .field-name-field-video {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
}
#stream-wrapper .thema .voisin.image {
  width: 680px;
  height: 498px;
}
#stream-wrapper .thema .voisin.text {
  width: 340px;
  background-color: #a31705;
}
#stream-wrapper .thema .voisin.text.post-anime {
  background-color: #d8d8d8;
  opacity: 0.9;
}
#stream-wrapper .thema .voisin.text .field-name-field-texte {
  padding: 1em;
  font-size: 24px;
}
/** Anime */
.not-anime {
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  transition: all 0s ease-out;
  visibility: hidden;
  opacity: 0;
}
.pre-anime {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  visibility: visible;
  opacity: 1;
}
.anime {
  -webkit-transition: all 5s ease-out;
  -moz-transition: all 5s ease-out;
  -o-transition: all 5s ease-out;
  transition: all 5s ease-out;
}
.post-anime {
  -webkit-transition: all 12s linear;
  -moz-transition: all 12s linear;
  -o-transition: all 12s linear;
  transition: all 12s linear;
  visibility: visible;
  opacity: 0.2;
}
#footer {
  z-index: 20;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #1A1A1A;
}
#footer p {
  margin: 0.2em;
}
#footer a {
  color: inherit;
}
#footer-bottom {
  text-align: center;
}
#header ul.menu li,
#content-top ul.menu li,
#content-bottom ul.menu li,
#footer ul.menu li {
  display: inline-block;
  vertical-align: top;
}
