
.consolas{
  font-family: "consolas", "inconsolata", Arial, "MS Trebuchet", sans-serif;  
}


body{ .consolas; font-size:16px; .500;}


a{color: #007BC2; text-decoration: none;}


input{ .consolas; font-size:0.8em; }

