/** 
 * Primary Drupal Styles
 * Author: g-u-i.net
 */

@import "gui.less";
@import "font";
@import "misc";

/** layout */

/* sidebars */
body:not(.no-sidebars) #center, #sidebar-first, #sidebar-second, .footer-block .region, .header-block{ display:inline-block; vertical-align: top;}

body.two-sidebars #center { width: 54%; }
body.sidebar-first #center { width: 73%; }
body.sidebar-second #center { width: 80%; }
body.no-sidebars #center { width: 100%; }

#sidebar-first { width: 24%; }
#sidebar-second { width: 18%; }

/* general */
html{
  position:relative; .m(0); .p(0);
  width:100%; height:100%;
}

body{
  position:relative; .m(0); .p(0);
  width:100%; height:100%;
}

#container{
  width:100%; height:100%;
  overflow: hidden;
}

#header{
  position:fixed: top:0; left:0;
  text-align: center;
}

#main{
  &, &>#center{
    position:absolute; top:0; left:0; 
    width:100%; height:100%;
  }

  #content{
    .js .front &{display:none;}
  }
} 

#content{}

#footer{
  z-index:20;
  position:fixed; bottom:0; left:0;
  width:100%;
  text-align: center;
  .10; color:#1A1A1A;
  p{.m(0.2em);}
  a{color:inherit;}
}

#footer-bottom{ text-align: center;}

#header ul.menu li, 
#content-top ul.menu li, 
#content-bottom ul.menu li, 
#footer ul.menu li{display:inline-block; vertical-align:top; }

