/** 
 * Primary Drupal Styles
 * Author: g-u-i.net
 */

@import "gui.less";
@import "font";
@import "misc";

/** layout */

/* sidebars */
body:not(.no-sidebars) #center, #sidebar-first, #sidebar-second, .footer-block .region, .header-block{ display:inline-block; vertical-align: top;}

body.two-sidebars #center { width: 54%; }
body.sidebar-first #center { width: 73%; }
body.sidebar-second #center { width: 80%; }
body.no-sidebars #center { width: 100%; }

#sidebar-first { width: 24%; }
#sidebar-second { width: 18%; }

/* general */
html, body{
  position:relative;
}

#container{}

#header{}

#main{} 

#content{}

#footer{}

#footer-bottom{ text-align: center;}

#header ul.menu li, 
#content-top ul.menu li, 
#content-bottom ul.menu li, 
#footer ul.menu li{display:inline-block; vertical-align:top; }

