/* $Id$ */

ul#simplemenu,ul#simplemenu ul,ul#simplemenu li,ul#simplemenu a {
color:#333;
display:block;
list-style:none;
margin:0;
padding:0;
z-index:48;
}

ul#simplemenu {
background:#ddd;
border-bottom:1px solid #999;
font:11px Verdana, Helvetica, sans-serif;
left:0;
position:fixed;
top:0;
width:100%;
height:21px;
}

ul#simplemenu li {
float:left;
border-right:1px solid #999;
border-left:1px solid #eee;  
}

ul#simplemenu li a {
background:#ddd;
padding:0.3em 2em 0.3em 0.6em;
text-decoration:none;
}

ul#simplemenu ul li a {
border:none;
width:11em;
}

ul#simplemenu li.expanded > a {
background:#ddd url(right-green.gif) no-repeat 97%;
}

ul#simplemenu li.root > a {
font-weight:bold;
background:#ddd url(down-green.gif) no-repeat 97%;
}

ul#simplemenu li:hover > a {
background-color:#3875d7;
color:#fff;
}

ul#simplemenu li ul {
background:#999;
border:1px solid #999;
left:-9999px;
position:absolute;
width:14em;
z-index:24;
}       

ul#simplemenu li ul ul {
margin:0 0 0 6em;
}

ul#simplemenu li:hover ul ul,ul#simplemenu li:hover ul ul ul,ul#simplemenu li.sfhover ul ul,ul#simplemenu li.sfhover ul ul ul {
left:-9999px;
}

ul#simplemenu li:hover ul,ul#simplemenu li li:hover ul,ul#simplemenu li li li:hover ul,ul#simplemenu li.sfhover ul,ul#simplemenu li li.sfhover ul,ul#simplemenu li li li.sfhover ul {
left:auto;
}