/**
 * @file
 * This file handles all the styling needed for the "User Details" module.
 */

/**
 * Logged-in user block .css styling.
 */
#user-details #loggedin .name, #user-details #loggedin .user-picture {
  text-align: center;
}
#user-details #loggedin .joined .title, #user-details #loggedin .postcount .title, #user-details #loggedin .rank .title {
  float: left;
  margin-right: 3px;
}
#user-details #loggedin .userjoined .result, #user-details #loggedin .postcount .result {
  font-style: italic;
}
#user-details #loggedin .quick-links .title, #user-details #loggedin .content .title {
  text-decoration: underline;
  text-align: center;
}
/**
 * Authored by user block .css styling.
 */
#user-details #authored .name, #user-details #authored .user-picture {
  text-align: center;
}
#user-details #authored .joined .title, #user-details #authored .postcount .title, #user-details #authored .rank .title {
  float: left;
  margin-right: 3px;
}
#user-details #authored .userjoined .result, #user-details #authored .postcount .result {
  font-style: italic;
}
#user-details #authored .quick-links .title, #user-details #authored .content .title {
  text-decoration: underline;
  text-align: center;
}