/**
 * Admin page
 */
#user-details-admin-settings .form-type-checkbox, #user-details-admin-settings .form-type-select {
  float: left;
  width: 25%;
  border-right: 2px solid;
  margin-right: 10px;
}
#user-details-admin-settings #edit-loggedin-stats .form-type-checkbox, #user-details-admin-settings .form-item-user-details-loggedin-stats-hr-display, #user-details-admin-settings .form-item-user-details-loggedin-links-hr-display, #user-details-admin-settings #edit-authored-stats .form-type-checkbox, #user-details-admin-settings .form-item-user-details-authored-stats-hr-display, #user-details-admin-settings .form-item-user-details-authored-links-hr-display  {
  float: none;
  width: 100%;
  border: 0 none;
  margin: 0;
}
#user-details-admin-settings .form-item-user-details-loggedin-stats-hr-display, #user-details-admin-settings .form-item-user-details-loggedin-links-hr-display, #user-details-admin-settings .form-item-user-details-authored-stats-hr-display, #user-details-admin-settings .form-item-user-details-authored-links-hr-display {
  margin-bottom: 10px;
}
#user-details-admin-settings .form-type-textfield {
  width: 70%;
  margin-left: 27%;
}
#user-details-admin-settings label {
  font-weight: bold;
}
#user-details-admin-settings .description {
  font-style: italic;
}
#user-details-admin-settings #edit-custom-link-one .form-type-textfield, #user-details-admin-settings #edit-custom-link-two .form-type-textfield, #user-details-admin-settings #edit-custom-link-three .form-type-textfield, #user-details-admin-settings #edit-custom-link-four .form-type-textfield, #user-details-admin-settings #edit-custom-link-five .form-type-textfield {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid;
}
#user-details-admin-settings #edit-custom-link-one .form-item-user-details-loggedin-customlinkone-imgtitle, #user-details-admin-settings #edit-custom-link-two .form-item-user-details-loggedin-customlinkone-imgtitle, #user-details-admin-settings #edit-custom-link-three .form-item-user-details-loggedin-customlinkone-imgtitle, #user-details-admin-settings #edit-custom-link-four .form-item-user-details-loggedin-customlinkone-imgtitle, #user-details-admin-settings #edit-custom-link-five .form-item-user-details-loggedin-customlinkone-imgtitle {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0 none;
}